NEXT_PUBLIC_WETH9_ADDRESS=
NEXT_PUBLIC_UNISWAP_V3_FACTORY_ADDRESS=
NEXT_PUBLIC_SWAP_ROUTER_ADDRESS=
NEXT_PUBLIC_QUOTER_ADDRESS=
NEXT_PUBLIC_TOKEN_DESCRIPTOR_ADDRESS=
NEXT_PUBLIC_POSITION_MANAGER_ADDRESS=
NEXT_PUBLIC_POOL_DEPLOYER_ADDRESS=
NEXT_PUBLIC_TICK_LENS_ADDRESS=
NEXT_PUBLIC_MULTICALL_ADDRESS=
